<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <link rel="stylesheet" href="/style.css">
        <title>Pet Patrol</title>
    </head>
    <body>
        <nav>
            <h4>Pet Patrol</h4>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/login">Sign Out</a></li>
                <li><a href="/requestAccount">Register New Admin</a></li>
            </ul>
        </nav>

        <div class="container mt-4">
            {{#if message}}
                <h4 class="alert alert-danger mt-4">{{message}}</h4>
            {{/if}}
        </div>
        

        <div class="container">
            <table class="table">
                <thead>
                    <th scope="col">Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Phone</th>
                    <th scope="col">Last Login</th>
                    <th scope="col">Verification</th>
                    <th scope="col">Options</th>
                </thead>
                <tbody>
                    {{#each users}}
                        <tr>
                            <td>{{this.name}}</td>
                            <td>{{this.email}}</td>
                            <td>{{this.phone}}</td>
                            <td>{{this.lastLogin}}</td>
                            <td>{{this.verification}}</td>
                            <td>
                                <form action="/auth/deleteUser" method="POST">
                                    <input type="hidden" name="user_id" value="{{this.user_id}}">
                                    <input type="submit" value="Delete User">
                                </form>
                                <form action="/auth/reverify" method="POST">
                                    <input type="hidden" name="email" value="{{this.email}}">
                                    <input type="submit" value="Prompt Reverification">
                                </form>                                
                            </td>
                        </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>


        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    </body>
</html>