<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Lobster" /> <!-- Adds Lobster Font -->
        <link rel="stylesheet" href="/style.css">
        <title>Pet Patrol</title>
        <link rel="shortcut icon" type="image/png" href="images/dog-paw.png" />
    </head>
    <body>
        <nav>
            <a href="/"><h1>Pet Patrol</h1></a>
            <ul>
                {{#if user}}
                    {{#if isAdmin}}
                        <li><a href="/adminHome">Admin Panel</a></li>
                    {{/if}}
                    <li><a href="/logout">Logout</a></li>
                    {{else}}
                        <li><a href="/requestAccount">Sign Up</a></li>
                        <li><a href="/login">Login</a></li>
                {{/if}}
            </ul>
        </nav>

        <nav1 class="navbar navbar-expand-sm justify-content-center">
          <ul class="navbar-nav">
            <li class="nav-item"><a class="nav-link" href="/aboutUs">About Us</a></li>
            <li class="nav-item"><a class="nav-link" href="/resources">Resources</a></li>
            <li class="nav-item"><a class="nav-link" href="/allPets">View All Pets</a></li>
            <li class="nav-item"><a class="nav-link" href="/search">Search Lost Pet</a></li>
          </ul>
        </nav1>

        <div class="container mt-4 text-center">
            <div class="jumbotron">
                <h2 class="display-4">Saved Searches</h2>
                <hr class="my-4">
            </div>     
        </div>
        <div class="container">
            {{#if message}}
                <h4 class="alert alert-danger mt-4">{{message}}</h4>
            {{/if}}
            <div class="card-columns">
                {{#each searchCriteria}}
                    <div class="card">
                        <div class="card-header">
                            {{this.searchName}}
                            <br>
                            Notifications: {{this.notificationType}}
                            <br>
                            <form action="/auth/currentMatches" method="POST">
                                    <input type="hidden" name="searchId" value={{this.searchId}}>
                                    <input type="hidden" name="searchName" value={{this.searchName}}>
                                    <input type="submit" value="View Current Matches" style="border-radius: 10px;background-color:#ffffea">
                            </form>
                        </div>
                        <div class="card-body">
                            <p>Type: {{this.type}}</p>
                            <p>Sex like: {{this.sex}}</p>
                            <p>Age: {{this.age}}</p>
                            <p>Color(s): {{this.color}}</p>
                            <p>Breed(s): {{this.breed}}</p>
                            <form action="/auth/deleteSearch" method="POST">
                                    <input type="hidden" name="searchId" value={{this.searchId}}>
                                    <input type="hidden" name="searchName" value={{this.searchName}}>
                                    <input type="submit" value="Delete Search" style="border-radius: 10px;background-color:#ffffea">
                            </form>
                            <br>
                            {{#if (notificationsOn this.notificationType)}}
                            <form action="/auth/stopNotifications" method="POST">
                                    <input type="hidden" name="searchId" value={{this.searchId}}>
                                    <input type="submit" value="Turn notifications off" style="border-radius: 10px;background-color:#ffffea">
                            </form>
                            {{/if}}
                        </div>
                    </div>
                {{/each}}
            </div>
        </div>
        <br><br><br>
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    </body>

    <div class="footer">
        <br>
        <div class="row">
            <div class="col-sm-2">
                <h5 class="h5"> Pet Patrol </h5>

            </div>

            <div class="col-sm-6">
                <p>
                    <a style="color:white" href="/aboutUs">About Us</a>
                    <a style="color:white" href="/resources">| Resources</a>
                    <a style="color:white" href="/search">| Search Lost Pets</a>
                    <a style="color:white" href="/allPets">| View All Pets</a>
                </p>
            </div>

            <div class="col-sm-4">
                <p> Authors: Marcela Rodriguez & Kathryn Reck</p>
            </div>

        </div>
    </div>

</html>